PORT=3000

# Shard 1
DATABASE_SHARD1_URL="mysql://root:root_password@localhost:3307/wallet_shard1"
DB_SHARD1_HOST="localhost"
DB_SHARD1_PORT="3307"
DB_SHARD1_USERNAME="root"
DB_SHARD1_PASSWORD="root_password"
DB_SHARD1_DATABASE="wallet_shard1"

# Shard 2
DATABASE_SHARD2_URL="mysql://root:root_password@localhost:3308/wallet_shard2"
DB_SHARD2_HOST="localhost"
DB_SHARD2_PORT="3308"
DB_SHARD2_USERNAME="root"
DB_SHARD2_PASSWORD="root_password"
DB_SHARD2_DATABASE="wallet_shard2"

NODE_ENV="development"
